{% set page_title = 'BConsPlaza' %}
{% extends "../elements/_base.twig" %}

{% block content %}
<div class="social">
    <figure class="btn_baogia" data-toggle="modal" data-target="#Popup">
        <span class="text">Đăng ký</span>
        <img class="origin" src="./assets/images/btn_baogia.png" alt="BConsPlaza">
        <img class="hover" src="./assets/images/btn_baogia1.png" alt="BConsPlaza">
    </figure>

    <a href="tel:0931222279" class="social__item yt">
        <img class="origin" src="./assets/images/phone.png" alt="BConsPlaza">
        <img class="hover" src="./assets/images/phone1.png" alt="BConsPlaza">
    </a>
    <a href="#" class="social__item fb">
        <img class="origin" src="./assets/images/mess.png" alt="BConsPlaza">
        <img class="hover" src="./assets/images/mess1.png" alt="BConsPlaza">
    </a>
</div>


{# nhớ thêm active để show #}
<div class="message">
    <div class="message__content text-center">
        <div class="message__title">Bạn đã đăng ký tư vấn thành công.</div>
        <button class="btn-submit" type="button">Đóng</button>
    </div>
</div>

{# nhớ thêm active để show #}
<div class="loading">
    <img src="./assets/images/loading.gif">
</div>


<div class="menu">
    <div class="menu__dots">
        <span class="menu__dots_text">Trang chủ</span>
        <div class="menu__dots_circle">
            <a name="Trang chủ" link="home" class="active" href="#home"></a>
            <a name="Tổng quan & vị trí" link="position" href="#position"></a>
            <a name="Tiện ích" link="ults" href="#ults"></a>
            <a name="Chính sách bán hàng" link="csbh" href="#csbh"></a>
            <a name="Mặt bằng tầng điển hình" link="mtbdh" href="#mtbdh"></a>
        </div>
    </div>
    <div class="menu__text">
        {# active #}
        <div class="menu__text_toggle">
            <span class="text">
                menu
            </span>
            <div class="lines">
                <span class="line line_1"></span>
                <span class="line line_2"></span>
                <span class="line line_3"></span>
            </div>
        </div>
    </div>
</div>
<div class="menu__absolute">
    <a name="Trang chủ" link="home" href="#home" class="active">Trang chủ</a>
    <a name="Tổng quan & vị trí" link="position" href="#position">Tổng quan & vị trí</a>
    <a name="Tiện ích" link="ults" href="#ults">Tiện ích</a>
    <a name="Chính sách bán hàng" link="csbh" href="#csbh">Chính sách bán hàng</a>
    <a name="Mặt bằng tầng điển hình" link="mtbdh" href="#mtbdh">Mặt bằng tầng điển hình</a>
</div>
{# block1 #}
<section class="block1 home" id="home">
    <figure class="block1__mb_img wow fadeIn">
        <img src="./assets/images/block1_mb_img.jpg" alt="block 1 heading">
    </figure>
    <div class="block1__container">
        <figure class="block1__heading wow fadeInDown">
           {% include 'logo_svg.html' %}
        </figure>
        <form class="form" action="">
            <div class="block1__title wow fadeIn">
                ĐĂNG KÝ TẠI ĐÂY
                <br>
                ĐỂ NHẬN TƯ VẤN VÀ BÁO GIÁ
            </div>
            <div class="block1__form form">
                <div class="block1__form-group wow fadeInUp" data-wow-delay="0.2s">
                    <input class="block1__form-control block1Name" name="name" type="text" placeholder="Họ và tên">
                </div>
                <div class="block1__form-group wow fadeInUp" data-wow-delay="0.6s">
                    <input class="block1__form-control block1Phone" name="phone" type="text"
                        placeholder="Số điện thoại">
                </div>
                <div class="block1__form-group wow fadeInUp" data-wow-delay="0.4s">
                    <input class="block1__form-control block1Email" name="email" type="text" placeholder="Email">
                </div>
                <div class="block1__form-button text-center wow fadeInUp mt-4" data-wow-delay="1s">
                    <button class="btn-submit submit-form" type="submit" disabled="disabled">
                        Đăng ký
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>

{# block_intro #}
<section class="block_intro">
    <div class="block_intro__container ">
        <div class="block_intro__wrap-text">
            <div class="block_intro__title wow fadeInDown" data-wow-delay="0.1">
                Tọa lạc ngay Làng Đại học Quốc gia, 5 phút đến Thành phố Thủ Đức
            </div>
            <div class="block_intro__sub wow fadeInDown" data-wow-delay="0.2">
                Thuộc Phường Đông Hòa, 1 trong 2 khu vực được định hướng phát triển thành trung tâm hành chính - văn hóa
                -
                thể dục thể thao của Dĩ An”
            </div>
        </div>
    </div>
</section>

{# block2 #}
<section class="block2 position" id="position">
    <div class="block2__container">
        <div class="big_heading wow fadeIn">
            <figure class="img"><img src="./assets/images/block3_title.png" alt="tổng quan & vị trí"></figure>
        </div>
        <div class="block2__2side">
            <div class="block2__2side--wrap left wow fadeInLeft">
                <p class="content mb-3 text-right">
                    Nơi khơi nguồn chinh phục những ước mơ, nơi tiếp năng lượng cho thăng hoa cuộc sống, nơi tạo nền
                    tảng để sự nghiệp thành công. Một tổ ấm đong đầy hạnh phúc và tràn trề nhựa sống cho mỗi ngày mới
                    thêm tròn vẹn.
                </p>
                <img class="d-md-block d-none" src="./assets/images/block3_map.png"
                    alt="Nơi khơi nguồn chinh phục những ước mơ, nơi tiếp năng lượng cho thăng hoa cuộc sống, nơi tạo nền tảng để sự nghiệp thành công. Một tổ ấm đong đầy hạnh phúc và tràn trề nhựa sống cho mỗi ngày mới thêm tròn vẹn.">
                <img class="d-md-none d-block" src="./assets/images/map-mobile.png"
                    alt="Nơi khơi nguồn chinh phục những ước mơ, nơi tiếp năng lượng cho thăng hoa cuộc sống, nơi tạo nền tảng để sự nghiệp thành công. Một tổ ấm đong đầy hạnh phúc và tràn trề nhựa sống cho mỗi ngày mới thêm tròn vẹn.">
            </div>
            <div class="block2__2side--wrap right wow fadeInRight">
                <div class="content">
                    <ul>
                        <li><b>Vị trí:</b> Mật độ xây dựng:</li>
                        <li><b>Đơn vị phát triển dự án:</b> Công ty Cổ phần Đầu tư Xây dựng Bcons (Bcons Group)</li>
                        <li><b>Diện tích quy hoạch:</b> 9.520m2</li>
                        <li><b>Mật độ xây dựng:</b> 36.94%</li>
                    </ul>
                    <div class="block2__right-slider">
                        <img src="./assets/images/block3_img.png"
                            alt=" Tọa lạc tại khu vực trung tâm sầm uất, trên mặt tiền đường Thống Nhất, gần kề Khu đô thị Đại học Quốc gia TP.HCM, Bcons Plaza sở hữu vị trí lý tưởng, có môi trường sống trong lành, tiện nghi cùng không gian tươi đẹp. Một cuộc sống thuận tiện mọi kết nối cho vạn bề hanh thông.">
                        <img src="./assets/images/block3_img.png"
                            alt=" Tọa lạc tại khu vực trung tâm sầm uất, trên mặt tiền đường Thống Nhất, gần kề Khu đô thị Đại học Quốc gia TP.HCM, Bcons Plaza sở hữu vị trí lý tưởng, có môi trường sống trong lành, tiện nghi cùng không gian tươi đẹp. Một cuộc sống thuận tiện mọi kết nối cho vạn bề hanh thông.">
                        <img src="./assets/images/block3_img.png"
                            alt=" Tọa lạc tại khu vực trung tâm sầm uất, trên mặt tiền đường Thống Nhất, gần kề Khu đô thị Đại học Quốc gia TP.HCM, Bcons Plaza sở hữu vị trí lý tưởng, có môi trường sống trong lành, tiện nghi cùng không gian tươi đẹp. Một cuộc sống thuận tiện mọi kết nối cho vạn bề hanh thông.">
                    </div>
                    <p>
                        Tọa lạc tại khu vực trung tâm sầm uất, trên mặt tiền đường Thống Nhất, gần kề Khu đô thị Đại học
                        Quốc gia TP.HCM, Bcons Plaza sở hữu vị trí lý tưởng, có môi trường sống trong lành, tiện nghi
                        cùng không gian tươi đẹp. Một cuộc sống thuận tiện mọi kết nối cho vạn bề hanh thông.
                    </p>
                </div>
                <div class="time_distance">
                    <div class="time_distance__item">
                        <div class="time_distance__number">
                            <div class="wrap">
                                <span class="number">1</span>
                                <span class="text">phút</span>
                            </div>
                        </div>
                        <div class="time_distance__value">
                            Đại học <br> Quốc gia <br>Thành phố <br>Hồ Chí Minh
                        </div>
                    </div>
                    <div class="time_distance__item">
                        <div class="time_distance__number">
                            <div class="wrap">
                                <span class="number">5</span>
                                <span class="text">phút</span>
                            </div>
                        </div>
                        <div class="time_distance__value">
                            Big C Dĩ An, <br>Trung tâm <br>hành chính<br> Dĩ An
                        </div>
                    </div>
                    <div class="time_distance__item">
                        <div class="time_distance__number">
                            <div class="wrap">
                                <span class="number">10</span>
                                <span class="text">phút</span>
                            </div>
                        </div>
                        <div class="time_distance__value">
                            Bệnh viện <br>Đa khoa <br>Dĩ An
                        </div>
                    </div>
                    <div class="time_distance__item">
                        <div class="time_distance__number">
                            <div class="wrap">
                                <span class="number">10</span>
                                <span class="text">phút</span>
                            </div>
                        </div>
                        <div class="time_distance__value">
                            Suối Tiên <br>Theme Park,<br>Chợ Dĩ An
                        </div>
                    </div>
                    <div class="time_distance__item">
                        <div class="time_distance__number">
                            <div class="wrap">
                                <span class="number">15</span>
                                <span class="text">phút</span>
                            </div>
                        </div>
                        <div class="time_distance__value">
                            Khu công <br>nghệ cao<br> quận 9,<br> Vincom Thủ Đức
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{# block3 #}
<section class="block3 ults" id="ults">
    <div class="big_heading__top wow fadeIn">
        <figure class="img">
            <img src="./assets/images/block4_title_update.png" alt="tiện ích">
        </figure>
    </div>
    <div class="block3__container">
        <figure class="img wow fadeIn">
            <img class="d-md-block d-none" src="./assets/images/block4_img.png" alt="tiện ích nội khu">
            <img class="d-md-none d-block" src="./assets/images/tiencich-mobile.png" alt="tiện ích nội khu">
        </figure>
        <div class="position ult1">
            <ul class="wow fadeInUp">
                <li>1. Bungalow Phong Cách Nhiệt Đới</li>
                <li>2. Bãi Cát Biển Hồ Nước Mặn</li>
                <li>3. Cây Xanh Tiểu Cảnh</li>
                <li>4. Vườn Nướng BBQ</li>
                <li>5. Chòi Nghỉ Chân Thư Giãn</li>
                <li>6. Đường Dạo Bãi Biển</li>
                <li>7. Mô Hình Tàu Biển</li>
                <li>8. Bãi Cát Tắm Nắng</li>
            </ul>
            <ul class="wow fadeInUp" data-wow-delay="0.2s">
                <li>9. Chòi Nghỉ Chân Đánh Cờ</li>
                <li>10. Đường Dạo Sỏi Massage Chân</li>
                <li>11. Vườn Thú Cưng</li>
                <li>12. Đài Thiên Văn - CLB Khoa Học</li>
                <li>13. CLB Yoga Bãi Biển</li>
                <li>14. Khuôn Viên Bãi Biển Tắm Nắng</li>
                <li>15. Vườn Hoa Bốn Mùa</li>
                <li>16. Mô Hình Lâu Đài - Khu Giải Trí</li>
            </ul>
            <ul class="wow fadeInUp" data-wow-delay="0.4s">
                <li>17. Đường Trượt</li>
                <li>18. Vườn Hoa Nhiệt Đới</li>
                <li>19. Vườn Nướng BBQ</li>
                <li>20. Khu Cắm Trại Gia Đình</li>
                <li>21. Chòi Nghỉ Chân - CLB Người Cao Tuổi</li>
                <li>22. CLB Thể Thao Bãi Biển</li>
                <li>23. Khu Rèn Luyện Thể Thao Ngoài Trời</li>
                <li>24. Sân Thể Thao Tổng Hợp</li>
            </ul>
            <ul class="wow fadeInUp" data-wow-delay="0.6s">
                <li>25. Đường Dạo Thư Giãn</li>
                <li>26. Khu Vực Cafe Ngoài Trời</li>
                <li>27. Khu Vui Chơi Trẻ Em</li>
                <li>28. Không Gian Biểu Diễn <br>Nhạc Nước</li>
                <li>29. Cầu Nối Cảnh quan</li>
            </ul>
        </div>
    </div>
</section>

{# block4 #}
<section class="block4 csbh" id="csbh">
    <div class="big_heading">
        <figure class="img wow fadeInUp" data-wow-delay="0.1s">
            <img src="./assets/images/block5_title.png" alt="chính sách bán hàng">
        </figure>
    </div>
    <div class="block4__container">
        <div class="block4__item wow fadeInUp" data-wow-delay="0.2s">
            <div class="percent">12%</div>
            <div class="text">Chiết Khấu Mở Bán <br>
                100% Khách hàng được nhận chiết khấu từ 7% đến 11% Năm
            </div>
        </div>
        <div class="block4__item wow fadeInUp" data-wow-delay="0.3s">
            <div class="percent">0%</div>
            <div class="text">
                Hỗ trợ LÃI SUẤT 0% cho khách hàng trong thời gian 24 THÁNG , đồng thời khách hàng không phải trả nợ gốc
                trong thời gian giải ngân
            </div>
        </div>
        <div class="block4__item wow fadeInUp" data-wow-delay="0.4s">
            <div class="percent">30%</div>
            <div class="text">
                Hỗ trợ LÃI SUẤT 0% cho khách hàng trong thời gian 24 THÁNG , đồng thời khách hàng không phải trả nợ gốc
                trong thời gian giải ngân
            </div>
        </div>

        <div class="block4__button wow fadeIn">
            <button class="submit-form btn-submit-price" data-toggle="modal" data-target="#Popup">
                NHẬN BÁO GIÁ
            </button>
        </div>
    </div>
    <figure class="block5_mb_img"><img src="./assets/images/block5_mb_img.jpg" alt="MẶT BẰNG TẦNG điển hình"></figure>
</section>

{# block5 #}
<section class="block5 mtbdh" id="mtbdh">
    <div class="block5__container">
        <div class="block5__left">
            <div class="big_heading wow fadeInUp">
                <figure><img src="./assets/images/block6_title.png" alt="MẶT BẰNG TẦNG điển hình"></figure>
            </div>
            <div class="nav flex-column">
                <a class="nav-link active wow fadeInLeft" data-wow-delay="0.1s" data-toggle="pill" href="#floor1">
                    MẶT BẰNG tổng thể
                </a>
                <a class="nav-link wow fadeInLeft" data-wow-delay="0.4s" data-toggle="pill" href="#floor2">
                    MẶT BẰNG TẦNG 01
                </a>
                <a class="nav-link wow fadeInLeft" data-wow-delay="0.8s" data-toggle="pill" href="#floor3">
                    MẶT BẰNG TẦNG 02
                </a>
                <a class="nav-link wow fadeInLeft" data-wow-delay="0.10s" data-toggle="pill" href="#floorOther">
                    MẶT BẰNG TẦNG 03-28
                </a>
            </div>
        </div>

        <div class="block5__right tab-content wow fadeInRight">
            <div class="tab-pane fade show active" id="floor1">
                <figure><img src="./assets/images/MBT 2.jpg" alt="MẶT BẰNG TẦNG 06-07"></figure>
            </div>
            <div class="tab-pane fade" id="floor2">
                <figure><img src="./assets/images/MBT 3-28.jpg" alt="MẶT BẰNG TẦNG 06-07"></figure>
            </div>
            <div class="tab-pane fade" id="floor3">
                <figure><img src="./assets/images/MBT 1.jpg" alt="MẶT BẰNG TẦNG 06-07"></figure>
            </div>
            <div class="tab-pane fade" id="floorOther">
                <div class="block5__slider">
                    <figure><img src="./assets/images/tong the.jpg" alt="MẶT BẰNG TẦNG 06-07"></figure>
                    <figure><img src="./assets/images/tong the.jpg" alt="MẶT BẰNG TẦNG 06-07"></figure>
                    <!-- <figure><img src="./assets/images/block6_img.png" alt="MẶT BẰNG TẦNG 06-07"></figure> -->
                </div>
            </div>
        </div>
    </div>
</section>

{# block6 #}
<section class="block6">
    <div class="block6__container">
        <div class="block6__wrap block6__left">
            <div class="block6__logo wow fadeInUp">
                <a href="#" class="logo-1 ">
                    <img src="./assets/images/logo2.png" alt="BConsPlaza">
                </a>
                <a href="#" class="logo-2">
                    {% include 'logo_svg.html' %}
                </a>
            </div>

            <div class="block6__contact wow fadeInUp">
                Địa Chỉ Dự Án: Đường Thống Nhất, Thành phố Dĩ An, tỉnh Bình Dương
            </div>
            <div class="block6__address">
                <div class="block6__address-item wow fadeInUp">
                    Email: <br>
                    <a href="mailto:horizon@sunshinegroup.vn">horizon@sunshinegroup.vn</a>
                </div>
                <div class="block6__address-item wow fadeInUp">
                    hotline: <br>0931 2222 79
                </div>
            </div>
        </div>
        <div class="block6__wrap block6__right">
            <div class="block6__right-title wow fadeInUp">
                ĐĂNG KÝ TẠI ĐÂY <br> ĐỂ NHẬN TƯ VẤN VÀ BÁO GIÁ
            </div>
            <form method="POST">
                <div class="block6__form form">
                    <div class="block6__form-group wow fadeInUp" data-wow-delay="0.1s">
                        <input class="block6__form-control block6Name" name="name" type="text" placeholder="Họ và tên">
                    </div>
                    <div class="block6__form-group wow fadeInUp" data-wow-delay="0.3s">
                        <input class="block6__form-control block6Phone" name="phone" type="text"
                            placeholder="Số điện thoại">
                    </div>
                    <div class="block6__form-group wow fadeInUp" data-wow-delay="0.2s">
                        <input class="block6__form-control block6Email" name="email" type="text" placeholder="Email">
                    </div>
                    <div class="block6__button text-center wow fadeInUp" data-wow-delay="0.4s">
                        <button class="btn-submit  submit-form" type="submit" disabled="disabled">
                            Đăng ký
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


{# modal đăng kí #}
<div class="modal fade in popup" id="Popup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <span class="close" data-dismiss="modal" aria-label="Close"> x</span>
                <div class="popup__content">
                    <div class="popup__wrap left">
                        <img src="./assets/images/popup.jpg" alt="ĐĂNG KÝ TẠI ĐÂY ĐỂ NHẬN TƯ VẤN VÀ BÁO GIÁ">
                    </div>
                    <div class="popup__wrap right">
                        <div class="popup__logo">
                            <a href="#" class="logo-1 ">
                                <img src="./assets/images/logo2.png" alt="BConsPlaza">
                            </a>
                            <a href="#" class="logo-2">
                                <img src="./assets/images/block7_logo.png" alt="BConsPlaza">
                            </a>
                        </div>
                        <div class="popup__title">
                            ĐĂNG KÝ TẠI ĐÂY<br> ĐỂ NHẬN TƯ VẤN VÀ BÁO GIÁ
                        </div>
                        <form method="POST">
                            <div class="popup__form form">
                                <div class="popup__form-group">
                                    <input class="popup__form-control PopupName" name="name" type="text"
                                        placeholder="Họ và tên">
                                </div>
                                <div class="popup__form-group">
                                    <input class="popup__form-control PopupPhone" name="phone" type="text"
                                        placeholder="Số điện thoại">
                                </div>
                                <div class="popup__form-group">
                                    <input class="popup__form-control PopupEmail" name="email" type="text"
                                        placeholder="Email">
                                </div>
                                <div class="popup__button text-center mt-4">
                                    <button class="btn-submit submit-form" type="submit" disabled="disabled">
                                        Đăng ký
                                    </button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# modal news #}
<div class="modal fade in show news" id="News" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <span class="close" data-dismiss="modal" aria-label="Close"> x</span>
            <div class="modal-body">
                <div class="news__title">
                    'Giá là yếu tố chính <br>
                    quyết định việc mua căn hộ'
                </div>
                <div class="news__content">
                    <div class="news__wrap left">
                        <!-- <img src="./assets/images/news_popup.jpg" alt="Giá là yếu tố chính quyết định việc mua căn hộ"> -->
                    </div>
                    <div class="news__wrap right">
                        <p>Theo các chuyên gia Savills, giá là yếu tố chính, bên cạnh diện tích, quyết định việc mua căn
                            hộ của khách hàng.</p>

                        <p>Tại họp báo công bố báo cáo quý III mới đây, bà Đỗ Thu Hằng, Giám đốc bộ phận nghiên cứu và
                            tư vấn Savills Hà Nội cho biết, hiện rất ít căn hộ có giá 20 triệu đồng một m2. "Trong
                            26.800 căn hộ sơ cấp, chỉ có khoảng 700 căn ở mức giá này", bà nói.</p>

                        <p>Giá căn hộ trên thị trường sơ cấp trung bình đã tăng 3% theo quý, 10% theo năm, lên đến 1.500
                            USD (hơn 34,5 triệu đồng) mỗi m2 trong quý III. Giá sơ cấp là giá chủ đầu tư bán trực tiếp
                            ra thị trường, cứ trung bình mỗi năm tăng 5%, theo Savills. Hiện giá tại các dự án ở khu vực
                            vành đai - vốn được xem là rẻ, đang thu hẹp khoảng cách với nội thành. Nguyên nhân là các
                            chủ đầu tư tập trung nâng cấp hạ tầng, tiện ích, đẩy mức giá lên.</p>

                        <p>Trong khi đó, bà Hằng nhận định, nhu cầu căn hộ bình dân tăng nhanh. Với 5.200 căn hộ bán
                            được, 99% đến từ phân khúc hạng B và C. Thị trường đang rất nhạy cảm về giá cao. Một số dự
                            án ở Mỹ Đình có giá 50-60 triệu đồng mỗi m2, cản trở phía đại lý vào, giảm sự thu hút của
                            người mua. "Giá và diện tích là các yếu tố chính quyết định việc mua nhà chứ không phải các
                            tiện ích, hạ tầng xung quanh", bà Hằng nói.</p>

                        <p>Ngược lại, giá tại thị trường thứ cấp có sự giảm nhẹ vì dịch bệnh, khoảng 1% theo quý, xuống
                            còn 1.157 USD một m2. Các nhà đầu tư đang chịu áp lực do giá không tăng như kỳ vọng nên muốn
                            rút ra khỏi thị trường.</p>
                        <p>
                            Tuy nhiên, báo cáo của Savills cũng cho thấy, cầu giảm do thiếu nguồn cung mới và hàng tồn
                            kho giá cao. Trong quý vừa qua chỉ có 3.100 căn hộ từ 4 dự án mới và giai đoạn tiếp theo của
                            9 dự án tung bán, giảm 50% theo quý và 60% theo năm.</p>
                        <p>
                            "Nguồn cung mới đang thấp nhất trong 5 năm qua", bà Hằng bình luận. Nguồn cung sơ cấp giảm
                            khi chủ đầu tư hoãn tung bán mới vì sợ các yếu tố bất ổn. Thị trường căn hộ còn bị tác động
                            từ làn sóng Covid-19 lần hai và tháng Ngâu.Theo các chuyên gia Savills, giá là yếu tố chính,
                            bên cạnh diện tích, quyết định việc mua căn hộ của khách hàng.</p>

                        <p>Tại họp báo công bố báo cáo quý III mới đây, bà Đỗ Thu Hằng, Giám đốc bộ phận nghiên cứu và
                            tư vấn Savills Hà Nội cho biết, hiện rất ít căn hộ có giá 20 triệu đồng một m2. "Trong
                            26.800 căn hộ sơ cấp, chỉ có khoảng 700 căn ở mức giá này", bà nói.</p>

                        <p> Giá căn hộ trên thị trường sơ cấp trung bình đã tăng 3% theo quý, 10% theo năm, lên đến
                            1.500 USD (hơn 34,5 triệu đồng) mỗi m2 trong quý III. Giá sơ cấp là giá chủ đầu tư bán trực
                            tiếp ra thị trường, cứ trung bình mỗi năm tăng 5%, theo Savills. Hiện giá tại các dự án ở
                            khu vực vành đai - vốn được xem là rẻ, đang thu hẹp khoảng cách với nội thành. Nguyên nhân
                            là các chủ đầu tư tập trung nâng cấp hạ tầng, tiện ích, đẩy mức giá lên.</p>

                        <p>Trong khi đó, bà Hằng nhận định, nhu cầu căn hộ bình dân tăng nhanh. Với 5.200 căn hộ bán
                            được, 99% đến từ phân khúc hạng B và C. Thị trường đang rất nhạy cảm về giá cao. Một số dự
                            án ở Mỹ Đình có giá 50-60 triệu đồng mỗi m2, cản trở phía đại lý vào, giảm sự thu hút của
                            người mua. "Giá và diện tích là các yếu tố chính quyết định việc mua nhà chứ không phải các
                            tiện ích, hạ tầng xung quanh", bà Hằng nói.</p>

                        <p>Ngược lại, giá tại thị trường thứ cấp có sự giảm nhẹ vì dịch bệnh, khoảng 1% theo quý, xuống
                            còn 1.157 USD một m2. Các nhà đầu tư đang chịu áp lực do giá không tăng như kỳ vọng nên muốn
                            rút ra khỏi thị trường.</p>

                        <p>Tuy nhiên, báo cáo của Savills cũng cho thấy, cầu giảm do thiếu nguồn cung mới và hàng tồn
                            kho giá cao. Trong quý vừa qua chỉ có 3.100 căn hộ từ 4 dự án mới và giai đoạn tiếp theo của
                            9 dự án tung bán, giảm 50% theo quý và 60% theo năm.</p>

                        <p>"Nguồn cung mới đang thấp nhất trong 5 năm qua", bà Hằng bình luận. Nguồn cung sơ cấp giảm
                            khi chủ đầu tư hoãn tung bán mới vì sợ các yếu tố bất ổn. Thị trường căn hộ còn bị tác động
                            từ làn sóng Covid-19 lần hai và tháng Ngâu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}