.block1 {
    position: relative;
    height: 56.250vw;
    width: 100%;
    background: url("../assets/images/block1_bg.jpg");
    background-size: 100% 100%;

    @media (max-width: 767px) {
        background-size: 100% auto;
        background-repeat: no-repeat;
        padding-top: 53vw;
        height: auto;
    }

    &__container {
        position: absolute;
        // left: 140px;
        // top: 100px;
        // max-width: 610px;
        left: 7.292vw;
        top: 14.063vw;
        width: 31.771vw;

        @media (max-width: 767px) {
            position: static;
            width: 100%;
            top: 0;
            left: 0;
            padding: 7vw 2vw;
            background: radial-gradient(circle, rgba(220, 176, 115, 1) 0%, rgba(5, 19, 32, 1) 100%);
        }
    }

    &__heading {
        width: 9.375vw;
        margin: 0 auto;
    }

    &__title {
        color: #fff;
        text-align: center;
        line-height: 1.3;

        // margin-bottom: 25px;
        // font-size: 30px;
        margin-bottom: 1.302vw;
        font-size: 1.563vw;

        @media (max-width: 767px) {
            margin-bottom: 3.302vw;
            font-size: 4.563vw;
        }
    }

    &__form-group {
        margin-bottom: 15px;
        margin-bottom: 0.781vw;

        @media (max-width: 767px) {
            margin-bottom: 2.302vw;
        }
    }

    &__form-control {
        width: 100%;
        background: #ffffff73;
        outline: none;
        border: none;
        // border-radius: 10px;

        height: 3.125vw;
        border-radius: 0.521vw;

        @media (max-width: 767px) {
            height: 9.125vw;
        }
    }

    .form {
        width: 28.125vw;
        margin: 0 auto;

        @media (max-width: 767px) {
            width: 80vw;
        }
    }
}

.block_intro {
    height: 28.115vw;
    position: relative;
    width: 100%;
    background: url("../assets/images/block2_bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
        height: 67.865vw;
    }

    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 56.771vw;
        @include transform(translate(-50%, -50%));
    }
}

.block2 {
    font-size: 1.25vw;
    position: relative;
    width: 100%;
    background: url("../assets/images/block3_bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #e1eaf3;
    font-family: $SVN-Gotham-Book;

    @media (max-width: 767px) {
        height: 100%;
        font-size: 3.5vw;
    }

    &__container {
        @media (max-width: 767px) {
            width: 80vw;
            margin: 0 auto;
        }
    }

    &__2side {
        @include flexbox;
        @include justify-content(space-between);
        // margin-top: 40px;
        margin-top: 2.083vw;
        color: #000;

        @media (max-width: 767px) {
            @include flex-direction(column);
        }

        &--wrap {
            // width: calc(50% - 24px);
            width: calc(50% - 1.25vw);

            *:not(img) {
                line-height: normal;
            }

            @media (max-width: 767px) {
                width: 100%;
            }
        }

        .image {
            // margin-top: 40px;
            // margin-bottom: 45px;
            margin-top: 2.083vw;
            margin-bottom: 2.344vw;

            img {
                width: 100% !important;
            }
        }

        .left {
            .content {
                // margin-left: 150px;
                margin-left: 7.813vw;

                @media (max-width: 767px) {
                    margin: 0;
                    margin-bottom: 2vw;
                }
            }
        }

        .right {
            // margin-top: 70px;
            margin-top: 3.646vw;
            text-align: left;
            padding-right: 7.813vw;

            @media (max-width: 767px) {
                padding: 0;
            }

            .btn-submit {
                margin-top: 30px;
                margin-bottom: 50px;
                margin-top: 1.563vw;
                margin-bottom: 2.604vw;
            }
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                position: relative;
                // margin-bottom: 8px;
                // padding-left: 36px;
                margin-bottom: 0.417vw;
                padding-left: 1.875vw;

                @media (max-width: 767px) {
                    padding-left: 5vw !important;
                }

                &::before {
                    position: absolute;
                    content: "";
                    background-image: url("../assets/images/list_star.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    left: 0;
                    // top: 7px;
                    // height: 22px;
                    // width: 22px;
                    top: 0.365vw;
                    height: 1.146vw;
                    width: 1.146vw;

                    @media (max-width: 767px) {
                        height: 3.146vw;
                        width: 3.146vw;
                    }
                }
            }
        }

        .time_distance {
            @include flexbox;

            &__item {
                text-align: center;
            }

            &__number {
                @include flexbox;
                @include flex-direction(column);
                border-radius: 50%;
                background-color: #FFC313;
                width: 95px;
                height: 95px;
                color: #152c3a;
                font-family: $SVN-Gotham-Bold;
            }

            .number {
                font-size: 40px;
            }

            .text {
                font-size: 16px;
            }

            .value {
                font-size: 14px;
            }
        }
    }

    .big_heading {
        width: 100%;

        @media (max-width: 767px) {
            @include flexbox;
            @include flex-direction(column);
            width: 59vw;
            margin-bottom: 6vw;
        }
    }
}

.block3 {
    // height: 61.510vw;
    position: relative;
    width: 100%;
    background: url("../assets/images/bg_5.jpg");
    background-size: 100% 100%;

    @media (max-width: 767px) {
        height: auto;
        background-color: #fff;
        background-image: none;
        padding: 7vw 0;
        padding-bottom: 0;
        background: linear-gradient(180deg, #7f8488 0%, #c3c4c8 100%);
    }

    &__container {
        padding-left: 3.646vw;
        padding-right: 7.969vw;
        padding-top: 10.625vw;

        @media (max-width: 767px) {
            padding-left: 7vw;
            padding-right: 7vw;
            padding-top: 5vw;
        }

    }

    .position {
        @include flexbox;
        margin-left: 2.760vw;
        margin-top: 3.333vw;
        width: calc(100% + 1.979vw);

        @media (max-width: 767px) {
            @include flex-wrap(wrap);
        }

        &.ult1 {
            ul {
                &:nth-child(3) {
                    width: 30%;
                }

                &:nth-child(4) {
                    width: 18%;
                }
            }
        }

        &.equal {
            ul {
                width: 25%;
            }
        }

        ul {
            // @include flex(1);
            width: 25%;
            list-style: none;
            padding: 0;
            margin: 0;
            position: relative;
            margin-right: 1.5vw;
            padding-right: 0.7vw;

            @media (max-width: 767px) {
                width: 100% !important;
            }

            &::before {
                position: absolute;
                content: '';
                right: 0;
                width: 2.604vw;
                height: 100%;
                background-image: url(../assets/images/bg_ul.png);
                background-repeat: no-repeat;
                background-size: auto 100%;

                @media (max-width: 767px) {
                    display: none;
                }
            }

            &:last-child {
                margin-right: 0;
                padding-right: 0;
                // @include flex(0.7);

                &::before {
                    display: none;
                }
            }

            li {
                font-size: 1.042vw;
                font-family: $SVN-Gotham-Book;
                color: #152850;
                margin-bottom: 0.160vw;

                @media (max-width: 767px) {
                    font-size: 3.5vw;
                }
            }
        }
    }

    .big_heading {
        display: none;

        @media (max-width: 767px) {
            @include flexbox;
            @include flex-direction(column);
            width: 100%;

            span,
            i {
                color: #fff;
                text-align: center;
            }
        }
    }
}

.block4 {
    padding-top: 5.292vw;
    height: 88.021vw;
    position: relative;
    width: 100%;
    background: url("../assets/images/block5_bg.jpg");
    background-size: 100% 100%;
}

.block5 {
    padding-top: 5.292vw;
    height: 50.833vw;
    position: relative;
    width: 100%;
    background: url("../assets/images/block6_bg.jpg");
    background-size: 100% 100%;

    @media (max-width: 767px) {
        height: auto;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }

    &__container {
        @include flexbox;
        margin-right: 7.813vw;
        margin-left: 5.208vw;

        @media (max-width: 767px) {
            @include flex-direction(column);
            margin-right: 7.813vw;
            margin-left: 7.813vw;
        }
    }

    &__left {
        @include flex(1);
        margin-right: 3vw;
        margin-top: 1.302vw;

        @media (max-width: 767px) {
            width: 100%;
            margin-right: 0;
        }
    }

    &__right {
        width: 45vw;


        @media (max-width: 767px) {
            width: 100%;
            margin-top: 4vw;
        }
    }

    .big_heading {
        text-align: right;
        width: 100%;

        @media (max-width: 767px) {
            text-align: center;
        }

        * {
            color: #fff;
        }

        &__top {
            span {
                font-size: 3.3vw;
                padding-left: 0;
                text-align: right;

                @media (max-width: 767px) {
                    font-size: 7.646vw;
                    text-align: center;
                }
            }
        }
    }

    .nav {
        margin-top: 3.906vw;
    }

    .nav-link {
        text-transform: uppercase;
        position: relative;
        text-align: right;
        margin: 0.052vw 0;

        color: #1b305a;
        font-size: 1.458vw;
        z-index: 1;

        @media (max-width: 767px) {
            text-align: center;
            font-size: 4vw;
            padding: .3rem 1rem;
        }

        &.active {
            color: #1b305a;
        }

        &.active,
        &:hover {
            background-color: transparent;

            &::before {
                position: absolute;
                content: '';
                z-index: -1;
                height: 100%;
                width: calc(100% + 10.416vw);
                left: -5.208vw;
                top: 50%;
                @include transform(translateY(-50%));
                background-color: #FFC114;

                @media (max-width: 767px) {
                    left: -7.813vw;
                }

            }

        }
    }

    .tab-pane {
        @media (max-width: 767px) {
            text-align: center;
            font-size: 3.5vw;
        }
    }

    /* bootstrap hack: fix content width inside hidden tabs */
    .tab-content>.tab-pane {
        display: block;
        /* undo display:none          */
        height: 0;
        /* height:0 is also invisible */
        overflow-y: hidden;
        /* no-overflow                */
    }

    .tab-content>.active {
        height: auto;
        /* let the content decide it  */
    }

    /* bootstrap hack end */

    .slick-dots {
        bottom: 0;
        position: static;
        margin-top: 0.781vw;

        li {
            width: auto;
            height: auto;
            margin: 0 0.260vw;

            @media (max-width: 767px) {
                margin: 0 0.6vw;
            }

            button {
                border: 0.156vw solid #1b3079;
                border-radius: 50%;
                width: 1.042vw;
                height: 1.042vw;
                padding: 0.260vw;

                @media (max-width: 767px) {
                    width: 2.042vw;
                    height: 2.042vw;
                }

                &::before {
                    display: none;
                }
            }

            &.slick-active {
                button {
                    background-color: #1b3079;
                }
            }
        }
    }
}

.block6 {
    font-family: $SVN-Gotham-Regular;
    color: #091829;
    background-color: #eaeaea;

    @media (max-width: 767px) {
        padding-bottom: 10vw;
    }

    a {
        color: inherit;
    }

    &__container {
        @include flexbox;
        max-width: 85%;
        margin: 0 auto;
        // padding: 100px 0;
        padding: 5.208vw 0;

        @media (max-width: 767px) {
            @include flex-direction(column);
        }
    }

    &__wrap {
        width: 50%;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &__left {
        // font-size: 25px;
        font-size: 1.302vw;
        line-height: normal;

        @media (max-width: 767px) {
            font-size: 3.5vw;
        }
    }

    &__right {
        // max-width: 465px;
        width: 24.219vw;
        margin: 0 auto;

        @media (max-width: 767px) {
            width: 80vw;
        }

        &-title {
            text-align: center;
            line-height: 1.3;
            // margin-bottom: 20px;
            // font-size: 31px;
            margin-bottom: 1.042vw;
            font-size: 1.615vw;

            @media (max-width: 767px) {
                font-size: 6.615vw;
                margin-top: 7vw;
            }
        }
    }

    &__logo {
        // max-width: 560px;
        // margin-bottom: 40px;
        // margin-left: 50px;
        width: 29.167vw;
        margin-bottom: 2.083vw;
        margin-left: 2.604vw;
        display: inline-block;

        @media (max-width: 767px) {
            width: 60vw;

            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-bottom: 4.5vw;
        }
    }

    &__contact {
        // margin-bottom: 40px;
        margin-bottom: 2.083vw;

        .d-flex {
            @media (max-width: 767px) {
                @include flex-wrap(wrap);
            }
        }
    }

    &__address {
        @include flexbox;

        @media (max-width: 767px) {
            @include flex-direction(column);
        }

        &-item {
            &:first-child {
                // margin-right: 50px;
                margin-right: 2.604vw;

                @media (max-width: 767px) {
                    margin-bottom: 3vw;
                    margin-right: 0;
                }
            }
        }
    }

    &__form {}

    &__form-group {
        // margin-bottom: 15px;
        margin-bottom: 0.781vw;
    }

    &__form-control {
        border: none;
        background-color: transparent;
        // border-bottom: 1px solid #091829;
        // height: 60px;
        border-bottom: 0.052vw solid #091829;
        height: 3.125vw;
        border-radius: 0;
        outline: none;
        box-shadow: none;
        width: 100%;

        @media (max-width: 767px) {
            padding-left: 2.5vw;
            font-size: 3.5vw;
            height: 9.125vw;
        }
    }

    &__button {
        // margin-top: 50px;
        margin-top: 2.604vw;

        @media (max-width: 767px) {
            margin-top: 4vw;
        }
    }
}