.block1 {
    position: relative;
    height: 56.250vw;
    width: 100%;
    background: url("../assets/images/block1_bg.jpg");
    background-size: 100% 100%;

    @media (max-width: 767px) {
        background-image: none;
        height: auto;
    }

    &__mb_img {
        display: none;

        @media (max-width: 767px) {
            display: block;
        }
    }

    &__container {
        position: absolute;
        left: 7.292vw;
        top: 14.063vw;
        width: 31.771vw;

        @media (max-width: 767px) {
            position: static;
            width: 100%;
            top: 0;
            left: 0;
            padding: 7vw 2vw;
            background: radial-gradient(circle, #e6eaef 0%, #9cb5de 100%);
        }
    }

    &__heading {
        width: 9.375vw;
        margin: 0 auto;

        @media (max-width: 767px) {
            width: 100%;
            max-width: 178px;
            margin-bottom: 20px;
        }
    }

    &__title {
        font-family: $UTMGod_sWordR;
        color: #16447f;
        text-align: center;
        line-height: 1.3;
        margin-bottom: 1.302vw;
        font-size: 1.463vw;
        margin-top: 0.625vw;

        @media (max-width: 767px) {
            margin-bottom: 3.302vw;
            font-size: 4.563vw;
        }
    }

    &__form-group {
        margin-bottom: 15px;
        margin-bottom: 0.781vw;

        @media (max-width: 767px) {
            margin-bottom: 2.302vw;
        }
    }

    &__form-control {
        width: 100%;
        background: #ffffff73;
        outline: none;
        border: none;
        // border-radius: 10px;

        height: 3.125vw;
        border-radius: 0.521vw;

        @media (max-width: 767px) {
            height: 9.125vw;
        }
    }

    .form {
        width: 28.125vw;
        margin: 0 auto;

        @media (max-width: 767px) {
            width: 80vw;
        }
    }
}

.block_intro {
    height: 27.115vw;
    position: relative;
    width: 100%;
    background: url("../assets/images/block2_bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: translateY(-1px);

    @media (max-width: 767px) {
        height: 45vw;
        background-image: none;
        background: linear-gradient(0deg, #f7d782 0%, #e5ebf3 100%);
    }

    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 56.771vw;
        @include transform(translate(-50%, -50%));

        @media (max-width: 767px) {
            width: 80vw;
        }

        img {
            @media (max-width: 767px) {
                transform: translateY(-4vw);
            }

        }
    }
}

.block2 {
    font-size: 1.25vw;
    position: relative;
    width: 100%;
    background: url("../assets/images/block3_bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #e1eaf3;
    font-family: $SVN-Gotham-Book;
    padding-bottom: 9.896vw;
    overflow: hidden;
    transform: translateY(-2px);

    @media (max-width: 767px) {
        height: 100%;
        font-size: 3.5vw;
        background-image: none;
        background: linear-gradient(0deg, #f0ede8 0%, #f7d784 100%);
    }

    &__container {
        padding-top: 5vw;

        @media (max-width: 767px) {
            width: 80vw;
            margin: 0 auto;
        }
    }



    &__2side {
        @include flexbox;
        @include justify-content(space-between);
        // margin-top: 40px;
        margin-top: 2.083vw;
        color: #000;

        @media (max-width: 767px) {
            @include flex-direction(column);
        }

        &--wrap {
            // width: calc(50% - 24px);
            width: calc(50% - 1.25vw);

            *:not(img) {
                line-height: normal;
            }

            @media (max-width: 767px) {
                width: 100%;
            }
        }

        .image {
            // margin-top: 40px;
            // margin-bottom: 45px;
            margin-top: 2.083vw;
            margin-bottom: 2.344vw;

            img {
                width: 100% !important;
            }
        }

        .left {
            .content {
                // margin-left: 150px;
                margin-left: 7.813vw;

                @media (max-width: 767px) {
                    margin: 0;
                    margin-bottom: 2vw;
                }
            }
        }

        .right {
            // margin-top: 70px;
            margin-top: 3.646vw;
            text-align: left;

            @media (max-width: 767px) {
                padding: 0;
            }

            .btn-submit {
                margin-top: 30px;
                margin-bottom: 50px;
                margin-top: 1.563vw;
                margin-bottom: 2.604vw;
            }
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                position: relative;
                // margin-bottom: 8px;
                // padding-left: 36px;
                margin-bottom: 0.417vw;
                padding-left: 1.875vw;

                @media (max-width: 767px) {
                    padding-left: 5vw !important;
                }

                &::before {
                    position: absolute;
                    content: "";
                    background-image: url("../assets/images/list_star.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    left: 0;
                    // top: 7px;
                    // height: 22px;
                    // width: 22px;
                    top: 0.365vw;
                    height: 1.146vw;
                    width: 1.146vw;

                    @media (max-width: 767px) {
                        height: 3.146vw;
                        width: 3.146vw;
                    }
                }
            }
        }

        .time_distance {
            @include flexbox;
            margin-top: 3.125vw;

            @media (max-width: 767px) {
                @include flex-wrap(wrap)
            }

            &__item {
                text-align: center;
                @include flex(1);

                @media (max-width: 767px) {
                    @include flex(auto);
                    margin: 25px 10px;
                    width: 24%;
                }

                @media (max-width: 480px) {
                    width: 30%;
                }
            }

            &__number {
                @include flexbox;
                @include flex-direction(column);
                border-radius: 50%;
                background-color: #FFC313;
                width: 4.948vw;
                height: 4.948vw;
                color: #152c3a;
                font-family: $SVN-Gotham-Bold;
                position: relative;
                margin: 0 auto;

                @media (max-width: 767px) {
                    width: 100px;
                    height: 100px;
                }

            }

            &__value {
                font-size: 1.150vw;
                font-family: $SVN-Gotham-Book;
                margin-top: 0.260vw;

                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }

            .wrap {
                position: absolute;
                top: -1.2vw;
                left: 50%;
                transform: translateX(-50%);
                line-height: 1;

                @media (max-width: 767px) {
                    top: -30px;
                }

            }

            .number {
                font-size: 3.7vw;
                line-height: 1;

                @media (max-width: 767px) {
                    font-size: 60px;
                }
            }

            .text {
                font-size: 1.250vw;
                display: block;
                text-transform: uppercase;

                @media (max-width: 767px) {
                    font-size: 18px;
                }
            }
        }
    }

    img {
        margin: 1.042vw 0;
    }

    .big_heading {
        position: absolute;
        top: 1vw;
        left: 2vw;
        width: 100%;

        .img {
            width: 25vw;

            @media (max-width: 767px) {
                width: 100%;
            }
        }


        @media (max-width: 767px) {
            @include flexbox;
            @include flex-direction(column);
            margin-bottom: 6vw;
            position: static;
            width: 100%;
        }
    }
}

.block3 {
    // height: 61.510vw;
    position: relative;
    width: 100%;
    background: url("../assets/images/block4_bg.jpg");
    background-size: 100% 100%;

    @media(max-width:1199px) {
        padding-bottom: 5vw;
    }

    @media (max-width: 767px) {
        background: linear-gradient(0deg, #f6f6f8 0%, #f7f7f7 100%);
        padding-bottom: 5vw;
    }

    &::before {
        position: absolute;
        content: '';
        height: 15.885vw;
        width: 100%;
        bottom: 0;
        background: linear-gradient(0deg, #f6f6f8 0%, #f7f7f7 100%);

        @media (max-width: 767px) {
            display: none;
        }
    }

    @media (max-width: 767px) {
        height: auto;
        background-color: #fff;
        background-image: none;
        padding: 7vw 0;
        padding-bottom: 0;
        background: linear-gradient(180deg, #808589 0%, rgba(255, 255, 255, 0.927608543417367) 100%);
    }

    &__container {
        width: 81.771vw;
        margin: 0 auto;

        @media (max-width: 767px) {
            padding-bottom: 10vw;
        }

    }

    .position {
        @include flexbox;
        margin-top: 3.333vw;
        width: calc(100% + 1.979vw);

        @media (max-width: 767px) {
            @include flex-wrap(wrap);
        }

        &.ult1 {
            ul {
                &:nth-child(3) {
                    width: 30%;
                }

                &:nth-child(4) {
                    width: 18%;
                }
            }
        }

        &.equal {
            ul {
                width: 25%;
            }
        }

        ul {
            // @include flex(1);
            width: 25%;
            list-style: none;
            padding: 0;
            margin: 0;
            position: relative;
            margin-right: 1.5vw;
            padding-right: 0.7vw;

            @media (max-width: 767px) {
                width: 100% !important;
            }

            &::before {
                position: absolute;
                content: '';
                right: 0;
                width: 2.604vw;
                height: 100%;
                background-image: url(../assets/images/bg_ul.png);
                background-repeat: no-repeat;
                background-size: auto 100%;

                @media (max-width: 767px) {
                    display: none;
                }
            }

            &:last-child {
                margin-right: 0;
                padding-right: 0;
                // @include flex(0.7);

                &::before {
                    display: none;
                }
            }

            li {
                font-size: 1.042vw;
                font-family: $SVN-Gotham-Book;
                color: #152850;
                margin-bottom: 0.160vw;

                @media (max-width: 767px) {
                    font-size: 3.5vw;
                }
            }
        }
    }

    .big_heading__top {
        width: 58.542vw;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        @include transform(translateX(-50%) translateY(-3.646vw));

        @media (max-width: 767px) {
            width: 95%;
            transform: translateX(-50%) translateY(-13.646vw);
        }
    }
}

.block4 {
    padding-top: 3vw;
    height: 88.021vw;
    position: relative;
    width: 100%;
    background-image: url("../assets/images/block5_bg.jpg");
    background-size: 100% 100%;

    @media (max-width: 767px) {
        background-image: none;
        height: auto;
        background: #fff;
        padding-top: 7vw;
    }

    .big_heading {
        position: absolute;
        width: 32.031vw;
        left: 17.188vw;
        top: 9vw;

        @media (max-width: 767px) {
            position: static;
            width: 80%;
            margin: 0 auto;
            background-color: #fff;
        }
    }

    &_mb_img {
        display: none;

        @media (max-width: 767px) {
            display: block;
        }
    }

    &__container {
        @include flexbox;
        @include flex-direction(column);
        position: absolute;
        width: 30.729vw;
        right: 6.771vw;
        top: 14.458vw;

        @media (max-width: 767px) {
            position: static;
            width: 100%;
            padding: 0 10%;
            margin-top: 5vw;
            background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 2.604vw;

            @media (max-width: 767px) {
                margin-bottom: 20px;
            }
        }

        .percent {
            color: #fff;
            font-size: 9vw;
            font-family: $SVN-Gotham-Bold;
            line-height: 1;

            @media (max-width: 767px) {
                color: #ffc313;
                font-size: 45px;
            }
        }

        .text {
            font-size: 1.3vw;
            line-height: normal;
            color: #08315a;

            @media (max-width: 767px) {
                font-size: 15px;
            }
        }
    }

    &__button {
        @media (max-width: 767px) {
            text-align: center;
        }

        button {
            background-color: transparent;
            border: none;

            @media (max-width: 767px) {
                width: 250px;
                height: 50px;

            }
        }
    }
}

.block5 {
    // padding-top: 5.292vw;
    // height: 50.833vw;
    position: relative;
    width: 100%;
    background: url("../assets/images/block6_bg.jpg");
    background-size: 100% 100%;
    padding-bottom: 5vw;

    @media (max-width: 767px) {
        height: auto;
        padding-top: 5vw;
        padding-bottom: 5vw;

    }



    &__container {
        @include flexbox;

        @media(max-width:1199px) {
            margin-left: 4vw;
        }

        @media (max-width: 767px) {
            @include flex-direction(column);
            margin-right: 0 7.813vw;
        }
    }

    &__left {
        width: 30vw;
        @include transform(translateX(5vw));
        @include flex(1);
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);

        @media (max-width: 767px) {
            width: 80%;
        }
    }

    &__right {
        width: 70vw;

        @media (max-width: 767px) {
            width: 100%;
            margin-top: 4vw;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .big_heading {
        text-align: right;
        width: 100%;

        @media (max-width: 767px) {
            text-align: center;
            margin-bottom: 2vw;
        }

        * {
            color: #fff;
        }

        &__top {
            span {
                font-size: 3.3vw;
                padding-left: 0;
                text-align: right;

                @media (max-width: 767px) {
                    font-size: 7.646vw;
                    text-align: center;
                }
            }
        }
    }

    .nav {
        margin-top: 1.85vw;
    }

    .nav-link {
        text-transform: uppercase;
        position: relative;
        text-align: right;
        margin: 0.052vw 0;

        color: #1b305a;
        font-size: 1.458vw;
        z-index: 1;
        padding-right: 1.302vw;
        font-family: $UTMGod_sWordR;

        @media (max-width: 767px) {
            text-align: center;
            font-size: 4vw;
            padding: .3rem 1rem;
        }

        &.active {
            color: #1b305a;
        }

        &.active,
        &:hover {
            background-color: transparent;

            &::before {
                position: absolute;
                content: '';
                z-index: -1;
                height: 100%;
                width: calc(100% + 6vw);
                left: -6vw;
                top: 50%;
                @include transform(translateY(-50%));
                background-color: #FFC114;

                @media (max-width: 767px) {
                    width: 100%;
                    left: 0;
                }
            }

        }
    }

    .tab-pane {
        @media (max-width: 767px) {
            text-align: center;
            font-size: 3.5vw;
        }
    }

    /* bootstrap hack: fix content width inside hidden tabs */
    .tab-content>.tab-pane {
        display: block;
        /* undo display:none          */
        height: 0;
        /* height:0 is also invisible */
        overflow-y: hidden;
        /* no-overflow                */
    }

    .tab-content>.active {
        height: auto;
        /* let the content decide it  */
    }

    /* bootstrap hack end */

    .slick-dots {
        bottom: 0;
        position: static;
        margin-top: 0.781vw;

        li {
            width: auto;
            height: auto;
            margin: 0 0.260vw;

            @media (max-width: 767px) {
                margin: 0 0.6vw;
            }

            button {
                border: 0.156vw solid #1b3079;
                border-radius: 50%;
                width: 1.042vw;
                height: 1.042vw;
                padding: 0.260vw;

                @media (max-width: 767px) {
                    width: 2.042vw;
                    height: 2.042vw;
                }

                &::before {
                    display: none;
                }
            }

            &.slick-active {
                button {
                    background-color: #1b3079;
                }
            }
        }
    }
}

.block6 {
    font-family: $SVN-Gotham-Regular;
    color: #091829;
    background-color: #eaeaea;
    background: url("../assets/images/block7_bg.jpg");
    background-size: 100% 100%;


    @media (max-width: 767px) {
        padding-bottom: 15vw;
        padding-top: 5vw;
    }

    a {
        color: inherit;
    }

    .logo-1 {
        width: 26.042vw;
        display: block;

        @media (max-width: 767px) {
            width: 60%;
        }

        img {
            width: 100%;
        }
    }

    .logo-2 {
        display: block;
        width: 14.323vw;
        margin-left: 4.167vw;

        @media (max-width: 767px) {
            width: 25%;
        }

        img {
            width: 100%;
        }
    }

    &__container {
        @include flexbox;
        max-width: 85%;
        margin: 0 auto;
        // padding: 100px 0;
        padding: 5.208vw 0;

        @media (max-width: 767px) {
            @include flex-direction(column);
        }
    }

    &__wrap {
        width: 50%;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &__left {
        font-size: 1.302vw;
        line-height: normal;
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);

        @media (max-width: 767px) {
            font-size: 3.5vw;
            order: 2;
            margin-top: 6vw;
        }
    }

    &__right {
        // max-width: 465px;
        width: 24.219vw;
        margin: 0 auto;

        @media (max-width: 767px) {
            width: 80vw;
        }

        &-title {
            text-align: center;
            line-height: 1.3;
            // margin-bottom: 20px;
            // font-size: 31px;
            margin-bottom: 1.042vw;
            font-size: 1.5vw;
            font-family: $UTMGod_sWordR;

            @media (max-width: 767px) {
                font-size: 4.615vw;
                margin-top: 0;
            }
        }
    }

    &__logo {
        margin-bottom: 2.083vw;
        @include flexbox;
        @include align-items(flex-end);



        @media (max-width: 767px) {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 4.5vw;
        }
    }

    &__contact {
        // margin-bottom: 40px;
        margin-bottom: 2.083vw;

        .d-flex {
            @media (max-width: 767px) {
                @include flex-wrap(wrap);
            }
        }
    }

    &__address {
        @include flexbox;

        @media (max-width: 767px) {
            @include flex-direction(column);
        }

        &-item {
            &:first-child {
                // margin-right: 50px;
                margin-right: 2.604vw;

                @media (max-width: 767px) {
                    margin-bottom: 3vw;
                    margin-right: 0;
                }
            }
        }
    }

    &__form {}

    &__form-group {
        // margin-bottom: 15px;
        margin-bottom: 0.781vw;
    }

    &__form-control {
        border: none;
        background-color: transparent;
        // border-bottom: 1px solid #091829;
        // height: 60px;
        border-bottom: 0.052vw solid #091829;
        height: 3.125vw;
        border-radius: 0;
        outline: none;
        box-shadow: none;
        width: 100%;

        @media (max-width: 767px) {
            padding-left: 2.5vw;
            font-size: 3.5vw;
            height: 9.125vw;
        }
    }

    &__button {
        // margin-top: 50px;
        margin-top: 2.604vw;

        @media (max-width: 767px) {
            margin-top: 4vw;
        }
    }

}